@{
    ViewBag.Title = "Home Page";
}

    <div class="row" style="background-color:#4F6657;">

        <!--Header-->
        <div class="row" style="padding:0;background:url(../Picture/header_picture5.jpg) center;margin:0;padding-bottom:13%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/Homepage_title.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>

        <!--body-->

        <div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:0px;margin-bottom:5%">


            <!--Guidance-->
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border: 0px; margin-top: 10%;margin-bottom: 100px ">
                <div class="white-word" style="background:#1E2621;border:0px;border-radius:10px;">
                    <br>
                    <div style="text-align:center">
                        <img src="~/Picture/Icon/InvasivePlants.png" style="width:60%;height:50%">
                    </div>
                    <br>
                    <br>

                    <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center">Invasive Plants</h3>
                    <h3 style="font-size:16px;padding-left:10%;padding-right:10%;text-align:justify">Look out for invasive plants in your garden. Protect your garden from them. Learn control and disposal techniques for invasive plants. See alternative indigenous plants.</h3>
                    <br>
                    <div style="text-align:center">
                        <a class="btn btn-success" href="@Url.Content("~/WeedSets/Index")" style="background: #6D917A; color:white; text-align: center;border-radius:10px;box-shadow:2px 2px 6px 2px #1E2621;border:0px;margin-bottom:10%;width:100px;height:30px">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:10%;position:relative;margin-bottom:100px;">
                <div class="white-word" style="        background: #1E2621;

        border: 0px;
        border-radius: 10px
">
                    <br>
                    <div style="text-align:center">
                        <img src="~/Picture/Icon/PlantList.png" style="width:60%;height:50%">
                    </div>
                    <br>
                    <br>
                    <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center">Plant List</h3>
                    <h3 style="font-size:16px;padding-left:10%;padding-right:10%">Search native local plants based on your preference. Improve your understanding of those plants before you start growing them. Select plants for your garden.</h3>
                    <br>
                    <div style="text-align:center">
                        <a class="btn btn-success" href="@Url.Content("~/PlantSets/Index")" style="background: #6D917A; color:white; text-align: center;border-radius:10px;box-shadow:2px 2px 6px 2px #1E2621;border:0px;margin-bottom:12%;margin-top:6%;width:100px;height:30px;">Learn more </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border: 0px;margin-top:10%;position:relative;margin-bottom:100px;">
                <div class="white-word" style="background:#1E2621;border:0px;border-radius:10px">
                    <br>
                    <div style="text-align:center">
                        <img src="~/Picture/Icon/MyGarden.png" style="width:60%;height:50%">
                    </div>
                    <br>
                    <br>


                    <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center">My Garden</h3>
                    <h3 style="font-size:16px;padding-left:10%;padding-right:10%">Search native local plants based on your preference. Improve your understanding of those plants before you start growing them. Select plants for your garden.</h3>
                    <br>
                    <div style="text-align:center">
                        <a class="btn btn-success" href="@Url.Content("~/Dashboard/Index")" style="background: #6D917A; color:white; text-align: center;border-radius:10px;box-shadow:2px 2px 6px 2px #1E2621;border:0px;margin-bottom:12%;margin-top:7%;width:100px;height:30px">Learn more </a>
                    </div>
                </div>
            </div>
        </div>
    </div>