@model IEnumerable<PlottedAssist.Models.WeedSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Have you ever see these plant</h2>

<div class="row">
@foreach (var item in Model)
{
    <!--Weed display-->

    <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="card" style="padding:15px;width:200px;margin-top:20px;">
            <a href="@Url.Content("~/WeedSets/Details/"+ item.Id)" class="thumbnail">
                <img src="@Url.Content("~/Picture/Weed/"+item.WeedPhotoPath)" alt="Show detail">
            </a>
        </div>
    </div>
}
</div>