html {
    height: 100vh;
}

body {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100vh;
    background-color: #4F6657;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* Remove the padding of the default bootstrap setting*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set a white word color*/
.white-word{
    color:white;
}

.card {
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
}

.photo-look {
    width: 450px;
    max-width: 100%;
    border: solid 10px white;
    box-shadow: 2px 2px 6px 2px #1E2621;
}

.home-btn {
    margin-top: 15px;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 11px;
    background: rgba(0,0,0,0.5);
    border: 1px #E5E7EA solid;
    display: inline-block;
    font-size: 14px;
    outline: none;
    box-shadow: 0px 0px 15px 8px #000;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .home-btn:hover {
        background-color: #000000;
        border: 1px #000000 solid;
        text-decoration: none;
    }
/* Set hover for a*/
a:hover {
    color: #FFFFFF;
}