
@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--Header-->
    
        <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>
    <!--Button-->
        <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%;margin-top:30px">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>back</a>
        </div>
    <!--Content-->
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-lg-offset-2" style="margin-top:70px;padding-bottom:80px;">
            <h2 class="white-word">Benefits of drought-tolerant plants:</h2>
            <ul class="white-word">
                <li>Lower water bills</li>
                <li>Reduce water use </li>
                <li>Attractive plants with less maintenance</li>
                <li>More wildlife habitat</li>
                <li>Less plant disease and more pest resistance</li>
                <li>Deeper roots help to stabilize slopes</li>
                <li>More groundwater recharge</li>
                <li>Less polluted runoff flowing to the ocean</li>
            </ul>
        </div>

    
