
@{
    ViewBag.Title = "Nurseries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--Header-->
    <div class="col-md-12" style="padding:0;background-image:url(../../Picture/Banner/PlantingInfoBanner.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
        <div>
            <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
        </div>
    </div>
    <!--Button-->
    <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%;margin-top:5%">
        <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
    </div>    
    <!--Text part-->
    <div class="col-md-8 col-md-offset-2 white-word col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:50px;padding-bottom:30px;text-align:center">
        <h1>Where can I get the plant?</h1>
        <div style="text-align:justify">
            <br><br>
            <p>Going to a local nursery to buy plants, instead of a well-known retailer can offer several advantages. We’ve listed a few reasons why you should consider shopping for plants from a garden nursery near you.</p>
            <ul>
                <li>They grow healthier plants. A nursery puts in a great amount of effort to ensure that plants get the best kind of care and nutrients, by using better fertilisers.</li>
                <li>Their staff are knowledgeable and can help you select the right plants to create a vibrant landscape. A nursery’s employees know important details about the plants they house as well as about horticulture in general.</li>
                <li>They save your time and hassle. Since the nursery employees look after the plants, all you need to do is just pick them up and place them in your home.</li>
            </ul>
            <p>Looking forward to shop from a nursery or a garden centre near you? Here are the location of local garden centres and nurseries.</p>
            <p>at the moment we only provide nursery location in city of yarra.</p>
            <br>
        </div>                           
    </div>
    <!--Map-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" style="padding-bottom:80px;">
        <p class="col-md-12 white-word" style="text-align:right">
            Got lost on the map?
            <a style="color:#FDB298;" onclick="location.reload();">Click here</a> to get back to city of yarra.
        </p>
        <div id='map' class='col-md-12' style="height:500px;"></div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/mapbox")
        }
