
@{
    ViewBag.Title = "Prune";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!--Header-->
        <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>
        <!--Button-->
        <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%;margin-top:5%">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
        </div>
        <!--Text part-->
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:50px;padding-bottom:80px;">
            <h2 class="white-word">Prunning</h2>
            <p class="white-word">
                In natural conditions plants are always in the process of pruning - animals eat the foliage and break branches as they trample through the bush. Unless the damage is severe the plants survive these set-backs and vigorous, healthy new growth follows.
            </p>

            <h1 class="white-word">Why Prune?</h1>
            <ul class="white-word">
                <li>
                    <b>Appearance of Plant</b><br>
                    Garden design, personal preferences, and the function of a particular plant determine the type and degree of pruning for appearance each plant should be given. For example, a screening plant might be regularly pruned to make it bushy, or a plant in a natural bushland setting might only be occasionally lightly pruned to blend in with the rest of the garden while maintaining a “natural” appearance.
                </li>
                <li>
                    <b>Prune to get a beautiful shape</b><br>
                    Heavy pruning is used to remove unwanted growth so a plant remains in proportion with the rest of the garden. Pruning to ground level is used on plants with a lignotuber, and suckering plants, to encourage the growth of multiple stems leading to a better shape, more foliage, and more flowers. Lignotuber is a woody swelling at or below the ground level containing buds from which new growth forms if the top of the plant is cut or burnt.
                </li>
                <li>
                    <b>pruning the Tips</b><br>
                    Carried out by pinching out the growing shoots forcing the plant to make new growth further back along the branch. This increases the number of flowers, makes the plant bushy, and prevents it from becoming straggly. Tip pruning can be started when the plant is young.
                </li>
                <li>
                    <b>Pick the flowers</b><br>
                    Picking flowers for indoor use and removal of old flowers immediately flowering finishes, stop the plant from putting energy into seed production thereby increasing flower production next season.
                </li>
                <li>
                    <b>Regular light pruning</b><br>
                    Used to promote and maintain dense growth of hedge and screening plants right down to ground level.
                </li>
                <li>
                    <b>Maintenance of plant health</b><br>
                    Remove diseased and damaged wood as soon as possible. Clean out unwanted foliage in the center of the plant to promote air movement and allow light to penetrate, thereby discouraging pests and disease.
                </li>
                <li>
                    <b>Rejuvenation of old plants</b><br>
                    Severe pruning rejuvenates and extends the life of many types of plants.
                </li>
            </ul>


            <h2 class="white-word">Pruning Rules</h2>
            <ul class="white-word">
                <li>
                    <b>Keep pruning tools sharp and clean</b><br>
                    Ensure your pruning tools are sharp and kept clean by regular washing in disinfectant. Blunt, dirty tools damage plant tissue and introduce disease organisms. Keep the cutting blades of secateurs and shears free of build-ups which might wedge between the blades springing them apart leading to bruising of plant tissue and ragged cuts.
                </li>
                <li>
                    <b>Use the plant’s natural habit of growth as a guide to its pruning requirements</b><br>
                    Plants that grow slowly should only require light pruning to keep them tidy and well-shaped. Fast-growing plants may require frequent tip pruning and general pruning.
                </li>
                <li>
                    <b>Prune shrubs back by about one-third of the new growth and always ensure some green leaves remain</b><br>
                    This rule applies except in extreme circumstances such as rejuvenating an old plant, or where specific knowledge of a particular plant’s response to pruning suggests a different approach. Hard pruning into old wood may kill some plants or cause the loss of next season’s flower crop in species.
                </li>
                <li>
                    <b>Pruning cuts</b><br>
                    Make pruning cuts at an angle so water will run off and not collect in growing shoots where it will encourage fungal growth. Undercut branches before making the top cut to remove them. This ensures a clean cut by preventing bark underneath the branch being torn from the plant or wood splintering as the branch falls away. If the branch is very heavy, cut it off a few centimeters further out from the trunk than your final cut so that most of the weight has been removed. Then make your final cut to remove the remaining short stub of the branch from the plant. Disguise cuts by making them inside the plant’s foliage envelope so that the cuts are hidden by the remaining foliage.
                </li>
                <li>
                    <b>Old and over-size plants</b><br>
                    If a plant has got to the stage where you have nothing to lose, prune hard and see what happens. Plants requiring constant heavy pruning to constrain their size are too big for the location. Consider replacing them with a smaller plant.
                </li>

            </ul>

            <h2 class="white-word">When to Prune</h2>
            <p class="white-word">
                Depending on your local climate and current weather patterns, late winter to early summer and late summer to early winter are generally the best times to prune in Victoria.<br>
                ♦ <b>Established plants</b><br>
                Remove old dead flowers immediately after flowering. General pruning as needed whenever weather conditions are suitable.<br>
                ♦ <b>New plantings</b><br>
                Tip prune from an early stage if a bushy, compact plant is desired. On planting, establish the future shape of the plant by removing unwanted branches.
            </p>

        </div>
        <!--Next page button-->
        <div class="white-word col-xs-4 col-md-2 col-lg-2 col-xs-offset-6 col-md-offset-9 col-sm-offset-8 col-lg-offset-10" style="margin-bottom:75px">
            <a href="@Url.Content("~/PlantInfo/Sunshine")" class="btn btn-success">Next: Sunshine Guide</a>
        </div>
    

