
@{
    ViewBag.Title = "SoilTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row" style="background-color:#4F6657;">
        <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>
        <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:20%;margin-top:5%">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>back</a>
        </div>
        <div class="col-md-8 col-md-offset-2" style="margin-top:50px;padding-bottom:80px;">
            <h2 class="white-word">Soil Types</h2>


            <p class="white-word">
                The soil types available in Melbourne are closely related to the underlying geological material on which they have formed. There are different types of soils available but most of them are part of three main categories.

            </p>
            <ol class="white-word">
                <li>Sand: Soil fails to compact and runs through your fingers.</li>
                <li>Clay: Soil remains as a solid mass.</li>
                <li>Loom: Soil compacts slightly but still fragments through your fingers.</li>

            </ol>

            <p class="white-word">
                Even though the soils are available all over Melbourne, some native indigenous plants have their own preferred soil type and structure. For example, Purple coral pea thrives in the Loom soil type rather than other two soils. Hence it is necessary to understand which soil type you have in your garden.

            </p>

            <h2 class="white-word">Let’s understand what are these soils and their properties:</h2>
            <p class="white-word">


                <b>1. Soil Structure:</b><br>
                The structure is the way soil particles bunch together. A few soils, for example, seashore sand, have particles that don't stick together and in this manner have no structure. Some earth soils stick together in one strong mass and accordingly likewise need structure.<br><br>

                Very much organized soils separate effectively into pieces of unpredictable shape and size. These parts don't totally occupy the space they involve, leaving a system of open spaces and entries in which plant roots can develop and permitting water and air to be taken in and abundance water to deplete away. Most plants need air and water close to their underlying foundations to develop well.<br><br>

                <b>2. Sand:</b><br>

                Have comparable attributes to rock however hold some dampness, particularly as profundity increments. Frequently sandy soils become more compacted as profundity increments and will, in general, have to a greater extent a sandstone profile. Their seepage is fantastic and numerous plants from sandy territories, for example, Western Australian Banksias, have adjusted to make due in these supplements lacking soils. <br><br>
                The top 100mm in addition to sandy soils can be water-repellent because of wind-blown particles. This can be overwhelmed by delving in humus, dirt or topsoil soil to give a greatly improved water maintenance profile. Then again, the top 100mmm in addition to can be expelled from the proposed planting region to uncover the more permeable sand underneath or soil wetting specialists can be utilized.
                Close to the ocean, calcareous soils might be discovered which, because of their poor structure, acknowledge almost no dampness and it tends to be extremely hard to build up a nursery except if utilizing neighborhood local plants.<br><br>

                <b>3. Loams:</b><br>
                Regularly found where market gardens were once settled. Quite a bit of south-eastern Melbourne comprises of this dirt. They have great waste while holding some dampness and permitting plant roots to promptly infiltrate downwards. Numerous local plants are effortlessly developed in this dirt. <br><br>
                <b>4. Clays:</b><br>
                Heavy soils that can hold a ton of moisture, however when they dry out and split they are difficult to dig. They have a lot of plant nutrients. <br><br>
                To make earth soils increasingly friable, include gypsum at a pace of 1kg per square meter rehashing the treatment at yearly interims if fundamental. Tearing the dirt when the gypsum is included will assist it with entering further down, and including sand and humus additionally improve friability. Numerous local plants develop well in dirt soils.<br><br>
            </p>
            <h2 class="white-word">Soil types across Victoria:</h2>
            <p class="white-word">
                ‘The Flora of Melbourne’ – APS Maroondah – has detailed information about, and maps of, soil types in the Melbourne area.
                <br><br>
                <b>Soil pH:</b><br>
                A soil’s degree of acidity and alkalinity is determined by measuring its “pH”. pH measurements are expressed as a number on a scale from 0 to 14 where 7 is neutral, less than 7 is acid and greater than 7 is alkaline. Most soils have pH values between 3.5 and 10. In higher rainfall areas the natural pH of soils typically ranges from 5-7, whereas in drier areas the range is 6.5-9.<br>
                Soils with pH values of 6.5 to 7.5 are referred to as ‘neutral’. Those with a pH of less than 6.5 are acidic, and soils with pH less than 5.5 are considered strongly acidic. To determine the pH of your soil by a soil pH testing kit, or take soil samples to your local Department of Primary Industries for analysis.<br><br>

                The pH of the surface soils in Victoria ranges from pH 4 to pH 10. These extremes in alkalinity and acidity present problems for the production of many agriculturally important plant species and their symbiotic rhizobia. Due to the complexity of soil chemistry, it has often been difficult to confidently identify the cause of poor plant growth or nodulation. <br><br>
            </p>
            <h2 class="white-word">Ways to check soil type at home:</h2>
            <p class="white-word">
                To determine your soil type, take a handful of moist (but not wet) soil from your garden, and give it a firm squeeze. Then, open your hand. One of three things will happen:
                <ol class="white-word">
                    <li>It will hold its shape, and when you give it a light poke, it crumbles. Lucky you—this means you have luxurious loam!</li>
                    <li>It will hold its shape, and, when poked, sits stubbornly in your hand. This means you have clay soil.</li>
                    <li>It will fall apart as soon as you open your hand. This means you have sandy soil.</li>
                </ol>
            </p>


            <h2 class="white-word">Ways to check soil PH at home:</h2>
            <p class="white-word">
                The Ph (acidity level) of your soil has a lot to do with how well your plants grow. Ph is tested on a scale of zero to 14, with zero being very acidic and 14 being very alkaline. Most plants grow best in soil with a fairly neutral Ph, between six and seven. When the Ph level is lower than five or higher than eight, plants just won’t grow as well as they should.
                Every home and garden center carries Ph test kits. These kits are fairly accurate, but you must make sure you follow the testing instructions precisely. Once you know whether your soil Ph is a problem or not, you can begin working to correct the problem.
                <br><br>
            </p>
        </div>

        </div>