
@{
    ViewBag.Title = "SoilTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/flipcard.css" rel="stylesheet" type="text/css" />
    <style>
        .item {
            background: #333;
            text-align: center;
            height: 300px !important;
        }

        h2 {
            margin: 0;
            color: #888;
            padding-top: 100px;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="row" style="background-color:#4F6657;">
        <!--Header-->
        <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/Banner/PlantingInfoBanner.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>
        <!--Button-->
        <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:20%;margin-top:5%">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>back</a>
        </div>
        <!--Text part-->
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:0px;padding-bottom:0px;">
            <h3 class="white-word">Soil Types</h3>

            <h3 class="white-word">Let’s understand what are these soils and their properties:</h3>
            <p class="white-word">
                <br>The soil types available in Melbourne are closely related to the underlying geological material on which they have formed. There are different types of soils available but most of them are part of three main categories.

            </p>

        </div>
        <div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:0px;margin-bottom:0%">


            <!--Row 2-->
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/sand.jpeg" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">

                            <div class="white-word" style="background:#1E2621;border:0px;border-radius:10px;">
                                <br>
                                <br>
                                <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center;font-weight:bold">Sand</h3>
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%;text-align:center;">Soil fails to compact and runs through your fingers.<br></h3>
                                <br><br><br>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/clay.jpg" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">
                            <div class="white-word" style="background: #1E2621; border: 0px; border-radius: 5px">
                                <br>
                                <br>
                                <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center;font-weight:bold">Clay</h3>
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%;text-align:center;">Soil remains as a solid mass.</h3>
                                <br><br><br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/loom.jpg" style="width:300px;height:300px" />
                        </div>
                        <div class="flip-card-back">
                            <div class="white-word" style="background:#1E2621;border:0px;border-radius:10px">
                                <br>
                                <br>
                                <h3 style="font-size:18px;padding-left:10%;padding-right:10%;text-align:center;font-weight:bold">Loom</h3>
                                <h3 style="font-size: 16px; padding-left: 10%; padding-right: 10%;text-align:center;">Soil compacts slightly but still fragments through your fingers.</h3>
                                <br><br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:20px;padding-bottom:20px;">
            <p class="white-word">
                Even though the soils are available all over Melbourne, some native indigenous plants have their own preferred soil type and structure. For example, Purple coral pea thrives in the Loom soil type rather than other two soils. Hence it is necessary to understand which soil type you have in your garden.

            </p>

            <h2 class="white-word">Let’s understand what are these soils and their properties:</h2>
        </div>
    </div>

    <div class="thumbnail" style="width:70%; margin:auto;margin-bottom:5%;">
        <div id="DemoCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#DemoCarousel" data-slide-to="1"></li>
                <li data-target="#DemoCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">

                    <div class="carousel-caption">
                        <h2>1. Sand</h2>
                        <p>
                            Have comparable attributes to rock however hold some dampness, particularly as profundity increments. Frequently sandy soils become more compacted as profundity increments and will, in general, have to a greater extent a sandstone profile. Their seepage is fantastic and numerous plants from sandy territories, for example, Western Australian Banksias, have adjusted to make due in these supplements lacking soils.
                        </p>
                    </div>
                </div>
                <div class="item">

                    <div class="carousel-caption">
                        <h2>2. Loams</h2>
                        <p>
                            Regularly found where market gardens were once settled. Quite a bit of south-eastern Melbourne comprises of this dirt. They have great waste while holding some dampness and permitting plant roots to promptly infiltrate downwards. Numerous local plants are effortlessly developed in this dirt.
                        </p>
                    </div>
                </div>
                <div class="item">

                    <div class="carousel-caption">
                        <h2>3. Clays</h2>
                        <p>
                            Heavy soils that can hold a ton of moisture, however when they dry out and split they are difficult to dig. They have a lot of plant nutrients.
                            To make earth soils increasingly friable, include gypsum at a pace of 1kg per square meter rehashing the treatment at yearly interims if fundamental. Tearing the dirt when the gypsum is included will assist it with entering further down, and including sand and humus additionally improve friability. Numerous local plants develop well in dirt soils.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="panel-group" id="accordion" style="width:70%; margin:auto;margin-bottom:5%;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#344239;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseDNF">
                        Soil types across Victoria:
                    </a>
                </h4>
            </div>
            <div id="collapseDNF" class="panel-collapse collapse in">
                <div class="panel-body">
                    ‘The Flora of Melbourne’ – APS Maroondah – has detailed information about, and maps of, soil types in the Melbourne area.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#344239;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseITF">
                        Soil pH:
                    </a>
                </h4>
            </div>
            <div id="collapseITF" class="panel-collapse collapse">
                <div class="panel-body">
                    A soil’s degree of acidity and alkalinity is determined by measuring its “pH”. pH measurements are expressed as a number on a scale from 0 to 14 where 7 is neutral, less than 7 is acid and greater than 7 is alkaline. Most soils have pH values between 3.5 and 10. In higher rainfall areas the natural pH of soils typically ranges from 5-7, whereas in drier areas the range is 6.5-9.<br>
                    Soils with pH values of 6.5 to 7.5 are referred to as ‘neutral’. Those with a pH of less than 6.5 are acidic, and soils with pH less than 5.5 are considered strongly acidic. To determine the pH of your soil by a soil pH testing kit, or take soil samples to your local Department of Primary Industries for analysis.<br><br>

                    The pH of the surface soils in Victoria ranges from pH 4 to pH 10. These extremes in alkalinity and acidity present problems for the production of many agriculturally important plant species and their symbiotic rhizobia. Due to the complexity of soil chemistry, it has often been difficult to confidently identify the cause of poor plant growth or nodulation. <br><br>

                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#344239;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseKF">
                        Ways to check soil type at home:
                    </a>
                </h4>
            </div>
            <div id="collapseKF" class="panel-collapse collapse">
                <div class="panel-body">
                    To determine your soil type, take a handful of moist (but not wet) soil from your garden, and give it a firm squeeze. Then, open your hand. One of three things will happen:
                    <ol>
                        <li>It will hold its shape, and when you give it a light poke, it crumbles. Lucky you—this means you have luxurious loam!</li>
                        <li>It will hold its shape, and, when poked, sits stubbornly in your hand. This means you have clay soil.</li>
                        <li>It will fall apart as soon as you open your hand. This means you have sandy soil.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#344239;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseKF1">
                        Ways to check soil PH at home:
                    </a>
                </h4>
            </div>
            <div id="collapseKF1" class="panel-collapse collapse">
                <div class="panel-body">
                    The Ph (acidity level) of your soil has a lot to do with how well your plants grow. Ph is tested on a scale of zero to 14, with zero being very acidic and 14 being very alkaline. Most plants grow best in soil with a fairly neutral Ph, between six and seven. When the Ph level is lower than five or higher than eight, plants just won’t grow as well as they should.
                    Every home and garden center carries Ph test kits. These kits are fairly accurate, but you must make sure you follow the testing instructions precisely. Once you know whether your soil Ph is a problem or not, you can begin working to correct the problem.
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#4F6657;">
        <div class="white-word col-xs-4 col-md-2 col-lg-2 col-xs-offset-8 col-md-offset-10 col-lg-offset-10" style="margin-bottom:10px;">
            <a href="@Url.Content("~/PlantInfo/Prune")" class="btn btn-success">Next: Pruning Guide</a>
        </div>
    </div>
</body>

