
@{
    ViewBag.Title = "Sunshine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/flipcard.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="row" style="background-color:#4F6657;">

        <!--Header-->
        <div class="col-md-12" style="padding:0;background-image:url(../../Picture/Banner/PlantingInfoBanner.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>
        <!--Button-->
        <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%;margin-top:5%">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
        </div>
        <!--Text part-->
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="margin-top:50px;padding-bottom:80px;">
            <h2 class="white-word">Determining the Amount of Sunlight</h2>

            <p class="white-word">
                To determine the amount of sunlight, look at a specific area of your yard at one- to two- hour intervals, starting with when the sun has risen fully until dusk. Sketch out your yard on a sheet of paper and number each section. Write down the sunlight levels for each of these sections at the timed intervals. Numbering the sections will allow you to properly keep track of the sunlight levels in each section so you can better plan your yard.
            </p>

        </div>


        <div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:0px;margin-bottom:10%">


            <!--Row 1-->

            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/full_sun.png" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">

                            <div style="text-align:center;margin-top:10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%">Full Sun</h3>
                                <p class="white-word">
                                    For full sun, you're likely to have no tall trees on the south side of it is the south side of your home. The west side of your home may also receive full sun. Full shade locations are typically on the north side of the home or have tall, full trees to the south. To determine full sun or full shade, look at the area in the morning and mid-morning and watch throughout the day until dusk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/full_shade.png" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">

                            <div style="text-align:center;margin-top:10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%">Full Shade</h3>
                                <p class="white-word">
                                    Full sun and full shade are the two easiest lighting situations to determine based on whether they receive six or more hours of direct sun or no sun. Most full shade locations will get a little bit of morning sun but be shielded from it for at least six full hours.
                                    Note that many full shade plants cannot handle even a small amount of hot afternoon sun, whether they get a full six to eight hours of shade or not.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:0px;margin-bottom:10%">


            <!--Row 2-->
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/half_shade.png" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">

                            <div style="text-align:center;margin-top:10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%">Half Sun/Shade</h3>
                                <p class="white-word">
                                    While partial shade and partial sun are often used interchangeably, they aren't the same thing.
                                    Partial shade refers to a sunny area that gets some shade, typically an area that gets morning shade and four to six hours of the hot afternoon sun. Partial sun, on the other hand, refers to a shady location that gets a few hours of morning sun and four to six hours of shade.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-md-3 col-md-offset-1" style="border:0px;margin-top:0%;position:relative; margin-bottom:0px;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Picture/fix.png" style="width:300px;height:300px;" />
                        </div>
                        <div class="flip-card-back">

                            <div style="text-align:center;margin-top:10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                <h3 style="font-size:16px;padding-left:10%;padding-right:10%;">Fix Sunlight</h3>
                                <p class="white-word">
                                    If you have an area that is shaded by a tree but you'd like to open it up to more light, you have a few options.
                                    Thinning out the branches of tall trees can open up the area to more light, sometimes enough to get a partial sun location. You can also heighten the crown of the tree so more light comes in through the bottom.
                                    Planting shade trees on the south side of your lawn will block much of the light if you would prefer a more shaded location.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="white-word col-xs-4 col-md-2 col-lg-2 col-xs-offset-8 col-md-offset-10 col-lg-offset-10" style="margin-bottom:10px;">
            <a href="@Url.Content("~/PlantInfo/OtherCare")" class="btn btn-success">Next: Other Care</a>
        </div>
    </div>


</body>
