
@{
    ViewBag.Title = "WildlifeTips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="background-color:#4F6657;">
    <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
        <div>
            <img src="~/Picture/Banner/otherinfoTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
        </div>
    </div>
    <div class="col-sm-3 col-xs-2" style="color:black;font-family:'Arial';font-size:16PX;padding-left:20%;margin-top:5%">
        <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>back</a>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-top:50px;padding-bottom:80px;">
        <h2 class="white-word">Attracting Native Birds to Your garden</h2>
        <p class="white-word">
            Essentially, a backyard brimming with botanic biodiversity is the one most likely to attract a variety of birds, especially if the plants are locally native. We’re not suggesting you rush out and plant a whole swathe of enormous gum trees, although having some of these nearby does indeed help encourage the birds. The most important element of planting a bird habitat is to make sure all strata layers are accounted for.  Strata layers are the different layers of vegetation that essentially make up a habitat. As different birds (and other animals) live in different layers of vegetation, the more variety you can provide in the size and selection of plants you grow, the greater the variety of animals you may see turning up at your place. Different vegetation levels provide a diverse supply of food, shelter, and safe spaces for birds, so consider a decent mix of ground covers, grasses, shrubs of varying sizes, and a couple of locally native tree species.<br><br>

            It’s important to recognize that, like us, birds have different likes and dislikes when it comes to having a feed. Some birds are insectivorous, and will happily gobble away at all manner of creepy-crawly critters, whereas others are nectar lovers and seed swallowers. It’s important when planning your plants, to account for all appetites and select plants that provide nectar, host insects, and provide shelter, as well as planning for vertical and horizontal structure.<br><br>

            That said, it’s a great idea to check with your local indigenous plant nursery, bird observers group for their recommendations. As always, it’s incredibly important to avoid invasive plants, especially those with bird attracting fruits. Where species name only is mentioned, it is important to source locally native variations of these plants.
        </p>
        <p class="white-word">Most Importantly keep in mind that</p>
        <h4 class="white-word">Grasses – Provide seed, shelter and nesting material</h4>
        <h4 class="white-word">Groundcovers and Wildflowers – Provide nectar, seed, shelter and host insects</h4>
        <h4 class="white-word">Shrubs – Provide nectar, seed, shelter and host insects</h4>
        <h4 class="white-word">Trees – Provide nectar, seed, shelter, nesting sites, and host insects</h4>

        <h2 class="white-word">Tips for a wildlife-friendly garden</h2>

        <ul class="white-word">
            <li>Plants that flower in winter are great for birds because birds are active throughout the year. Insects depend on warm weather for activity. So when the weather is cold, insects aren’t active to take advantage of winter flowers!</li>
            <li>Butterflies only lay their eggs on specific plants that will nourish their caterpillars. But adult butterflies will take nectar from lots of different flowers, native or exotic.</li>
            <li>Spotted pardalotes are small birds that nest in tunnels, dig in embankments, and feed on insects taken from the leaves of eucalypt trees. Listen for their simple yet distinctive calls around the city during the breeding season in spring.</li>
            <li>Insectivorous bats naturally roost in the crevices of trees or under bark, but in urban areas, they sometimes shelter under dead palm fronds, and in ceilings or walls.</li>
            <li>There are 16 species of insectivorous bats in Victoria but only one can be heard by the human ear – the white-striped freetail bat.</li>
            <li>Australia is home to over 1500 species of native bees. All Melburnian species are solitary, meaning they don’t form hives or produce honey. </li>
            <li>Solitary native bees lay their eggs in tunnels in the ground, brick walls or holes in timber. They lay their eggs in the tunnels with a ball of ‘bee bread’ made from a mixture of nectar and pollen that feeds the larvae in sealed chambers until they emerge as adult bees.</li>
            <li>Native groundcover plants like nodding saltbush and ruby saltbush produce fruit loved by blue-tongue lizards. If you’re lucky enough to have them in your yard, they’ll also snack on garden snails.</li>
            <li>It’s easy to attract large nectar-eating birds like rainbow lorikeets or red wattlebirds by planting banksias and grevilleas. If you want to attract smaller birds like eastern spinebills, try planting some thick shrubs for them to escape from the bigger birds, as well as from cats and dogs.</li>
            <li>Many small birds build their nests using spider webs, fur, fibers, and grass collected from various places. Keep an eye out for birds collecting nesting material and secure any plastics in which they can become entangled.</li>
        </ul>
    </div>
    </div>
