@model IEnumerable<PlottedAssist.Models.PlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}




<div class="row" style="background-color:#4F6657">
    <!--Header-->

    <div class="col-12 col-md-12" style="padding:0;background-image:url(../Picture/header_picture.jpg);width:100%;height:400px;margin:0;position:relative">
        <div style="position:absolute;text-align:center;height:auto;width:auto;padding-top:200px;padding-left:35%;padding-right:35%">
            <p style="font-family:'Arial';color:white;background:black;font-size:45px;text-align:center">Indigenous Plants</p>
        </div>
        <div style="position:absolute;text-align:center;height:auto;width:auto;padding-top:255px;padding-left:50%;padding-right:33%;">
            <p style="font-family:'Arial';color:black;background:white;font-size:25px;text-align:center">in Yarra City</p>
        </div>
    </div>
    <!--Top part-->>
    <div class="col-sm-6 col-sm-offset-3 white-word" style="background:#344239;text-align:center;margin-top:100px;position:relative">
        <H3>Let us help you decide which to plant!</H3>
        <p>
            @Html.ActionLink("No thanks.Give me the list of all plants", "PlantList")
        </p>
    </div>

    <!--Question part-->>
    <form role="form" action="/PlantSets/TestResult" method="post" class="col-sm-6 col-sm-offset-3 white-word" style="font-family:'Arial';background:#344239;margin-top:20px;position:relative;margin-bottom:50px">
        <br>
        <br>
        <div class="col-sm-12 white-word form-group">
            <p style="font-size:16px;">1. What type plants do you want to pant?</p>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="Tree" value="Trees" checked="checked">Tree
                </label>
                <label>
                    <input type="checkbox" name="Shrub" value="Shrubs" checked="checked">Shrub
                </label>
                <label>
                    <input type="checkbox" name="Crepper" value="Creepers" checked="checked">Crepper
                </label>
                <label>
                    <input type="checkbox" name="Grass" value="Small Plants" checked="checked">Grass
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="position:relative;margin-top:20px">
            <p style="font-size:16px;">2. How often would you like to water your plants?</p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantWaterFrq" value="2">Often
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="4">Medium
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="6">I don't have time
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="All">All good for me
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="position:relative;margin-top:20px">
            <p style="font-size:16px;">3. When do you plan to plants?</p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantSeason" value="Spring">Spring
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Summer">Summer
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Autumn">Autumn
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Winter">Winter
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="position:relative;margin-top:20px">
            <p style="font-size:16px;">4. Enough sunshine in your garden?</p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="1">Yes
                </label><br>
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="3">Sometimes
                </label><br>
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="2">No
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="position:relative;margin-top:20px">
            <p style="font-size:16px">5. Do you prefer drought tolerant plants?</p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantDroughtTol" value="1">Yes
                </label><br>          
                <label>
                    <input type="radio" name="PlantDroughtTol" value="0">No
                </label><br>
                <label>
                    <input type="radio" name="PlantDroughtTol" value="All">I don't care
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="position:relative;margin-top:20px;margin-bottom:40px;text-align:center">
            <button type="submit" style="color:white; text-align: center;box-shadow:2px 2px 6px 2px #1E2621;background-color:transparent;">Submit</button>
        </div>
    </form>
</div>

