@model IEnumerable<PlottedAssist.Models.PlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}




<div style="background-image:url(../../Picture/Tooltip.jpg);padding-bottom:50%;">    
    <div>
        <p style="font-size:18px;padding-top:5%">< @Html.ActionLink("Back to Questionnaire", "Index")</p>
    </div>
</div>

