@model IEnumerable<PlottedAssist.Models.PlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

        <!--Header-->

        <div class="col-12 col-md-12" style="        padding: 0;
        background-image: url(../../Picture/Banner/IndigenousPlantBanner.jpg);
        width: 100%;
        margin: 0;
        padding-bottom: 10%;
        background-repeat: no-repeat;
        background-size: 100%">
            <div>
                <img src="~/Picture/Banner/IndTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>

        <!--Plant information and picture-->

        <div style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%;">
            <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)" style="margin-top:50px"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
        </div>
        
        @if (Model.ToList.Length = 0) { 
        }

        <div class="white-word" style="margin-bottom:75px;text-align:center">
            <h2>Based on your preference, here is eligible indigenous plants what we found.</h2>
        </div>
        
        <div class="col-md-10 col-md-offset-1">
            @foreach (var item in Model)
            {
                <!--Plant display-->
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:75px">
                    <div class="card" style="padding:25px;width:280px;margin:0 auto;border-radius:15px;">
                        <a href="@Url.Content("~/PlantSets/Details/"+ item.Id)" class="thumbnail" style="border-radius:15px;padding:0px;margin:0px">
                            <img src="@Url.Content("~/Picture/PlantSet/"+item.PlantPhotoPath)" alt="Show detail" style="border-radius:15px;box-shadow:0px 0px 8px 5px #1E2621;margin:0px">
                            <div style="position:relative;margin-top:-75px;background-color:rgba(0,0,0,0.5);border-radius:15px;">
                                <p class="white-word" style="font-size:16px;padding-top:10px;margin-left:15px;">@Html.DisplayFor(modelItem => item.PlantCommonName)</p>
                                <p class="white-word" style="font-size:16px;margin-bottom:0px;padding-bottom:10px;margin-left:15px;">@Html.DisplayFor(modelItem => item.PlantSciName)</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
            